body {
    color: #eaeaea;
}

#container {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 1001px;
    height: 999px;
}

#container canvas {
    position: absolute;
}

#zoom-canvas {
    background-color: #FFFFFF;
}

#tooltip {
    display: none;
    position: absolute;
    padding: 10px;
    min-width: 150px;
    top: 100px;
    left: 20px;
    background-color: #FFFFFF;
    border-radius:5px;
    color: #000000;
    font-family: helvetica, arial, sans-serif;
    
}

#tooltip-loading {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25px;
    height: 25px;
}

#tooltip-loading-pixel {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 10px;
    font-size: 8pt;
    font-weight: 300;
}

#tooltip-image {
    display: inline-block;
    vertical-align: top;
    border-radius:5px;
    width: 50px;
    height: 50px;
}

#tooltip-right {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    margin-right: 10px;
}

#tooltip-name {
    margin-top: 5px;
    font-weight: bold;
}

#tooltip-pixel {
    margin-top: 5px;
    font-size: 8pt;
    font-weight: 300;
}

#tooltip-goal {
    margin-top: 5px;
    text-align: center;
}

.button{
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius:3px;
    margin-top: 10px;
    margin-bottom: 15px;
    padding-top:15px;
    padding-bottom: 15px;
    text-align:center;
    text-decoration:none;
    font: 16px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ecf0f1;
}

.big_buttons .button {
    width: 1001px;
}

.small_buttons .button {
    width: 150px;
}

.button:active{
    position:relative;
    top:6px;
}

.gray{
    box-shadow: 0px 6px #565657;
    background: #000000;
}
.gray:active{
    box-shadow: 0px 0px #565657;
    background: #565657;
}

#your-pixel {
    display: none;
    text-align: center;
    color: #000000;
    margin-top: 15px;
    margin-bottom: 15px;
}

#total-participant {
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    position: relative;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    border: 6px solid #000000;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    background-color:#eaeaea;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    text-align: center;
    color: #000000;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0} 
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.textbox {
    resize: none;
    padding: 10px;
    margin-bottom: 10px;
    width:75%;
    font-size: 18px;
    border-radius: 0;
    line-height: 22px;
}

#modal-loading {
    display: none;
    width: 25px;
    height: 25px;
    margin-left: auto;
    margin-right: auto;
}



